<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arm_topic_ros2_control"
                 params="use_fake_hardware:=true 
                        use_sim_time:=false   
                        sim_gazebo:=false    
                        sim_ignition:=false">
        <ros2_control name="arm_topic_hardware"
                      type="system">
            <hardware>
                <plugin>arm_topic_hardware_interface_plugin/ArmHardware</plugin>
                <param name="use_fake_hardware">${use_fake_hardware}</param>
                <param name="use_sim_time">${use_sim_time}</param>
            </hardware>
            
            <joint name="liftkit_joint">
                <command_interface name="position">
                    <param name="min">{0.0}</param>
                    <param name="max">{1.4}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-0.08</param>
                    <param name="max">0.08</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="elfin_joint1">
                <command_interface name="position">
                    <param name="min">{-2*pi}</param>
                    <param name="max">{2*pi}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="elfin_joint2">
                <command_interface name="position">
                    <param name="min">{-2.35}</param>
                    <param name="max">{2.35}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="elfin_joint3">
                <command_interface name="position">
                    <param name="min">{-2.610}</param>
                    <param name="max">{2.610}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="elfin_joint4">
                <command_interface name="position">
                    <param name="min">{-2*pi}</param>
                    <param name="max">{2*pi}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="elfin_joint5">
                <command_interface name="position">
                    <param name="min">{-2.56}</param>
                    <param name="max">{2.56}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="elfin_joint6">
                <command_interface name="position">
                    <param name="min">{-2*pi}</param>
                    <param name="max">{2*pi}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="racer_joint_5">
                <command_interface name="position">
                    <param name="min">{-1.8325}</param>
                    <param name="max">{1.57079}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="racer_joint_6">
                <command_interface name="position">
                    <param name="min">{-2.967}</param>
                    <param name="max">{2.967}</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>