<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- <xacro:include filename="$(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro" /> -->

  <xacro:macro name="gripper" params="prefix_gripper connected_to">

    <xacro:property name="M_PI" value="3.1415" />

    <joint name="camera_mount_joint" type="fixed">s <origin xyz="0 0.0 0.0246" rpy="0.0 0.0 0" />
      <parent
        link="${connected_to}" />
      <child link="camera_mount_link" />
    </joint>


    <joint name="gripper_joint" type="fixed">
      <origin xyz="0 0 0.025" rpy="0 0 0.0" />
      <parent link="camera_mount_link" />
      <child link="gripper" />
    </joint>

    <joint name="gripper_grasp_plane_joint" type="fixed">
      <origin xyz="0 0 0.2" rpy="0 0 0.0" />
      <parent link="gripper" />
      <child link="gripper_grasp_plane_link" />
    </joint>

    <link name="camera_mount_link">
      <visual>
        <geometry>
          <mesh filename="$(find oh_my_hans_description)/meshes/gripper/camera_mount.stl" scale="1 1 1" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0.9 0.9 0.9 1.0" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="$(find oh_my_hans_description)/meshes/gripper/camera_mount.stl" scale="1 1 1" />
        </geometry>
      </collision>
    </link>

    <link name="gripper">
      <visual>
        <geometry>
          <mesh filename="$(find oh_my_hans_description)/meshes/gripper/gripper_ndt.stl" scale="1 1 1" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0.9 0.9 0.9 1.0" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="$(find oh_my_hans_description)/meshes/gripper/gripper_ndt.stl" scale="1 1 1 " />
        </geometry>
      </collision>
    </link>

    <link name="gripper_grasp_plane_link">
      <origin xyz="0 0 0 " rpy="0 0 0" />
    </link>

  </xacro:macro>

</robot>