[submodule "docker/cumotion_ws/src/isaac_ros_cumotion"]
	path = docker/cumotion_ws/src/isaac_ros_cumotion
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_cumotion.git
[submodule "docker/cumotion_ws/src/robots/ewellix_lift"]
	path = docker/cumotion_ws/src/robots/ewellix_lift
	url = https://github.com/clearpathrobotics/ewellix_lift_common.git
