[submodule "external/curobo"]
	path = external/curobo
	url = https://github.com/NVlabs/curobo
[submodule "src/robots/ur_description"]
	path = src/robots/ur_description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
[submodule "src/robots/ewellix_lift"]
	path = src/robots/ewellix_lift
	url = https://github.com/clearpathrobotics/ewellix_lift_common.git
[submodule "src/planning/isaac_ros_common"]
	path = src/planning/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
