[submodule "docker/cumotion_ws/src/robots/ewellix_lift"]
	path = docker/cumotion_ws/src/robots/ewellix_lift
	url = https://github.com/clearpathrobotics/ewellix_lift_common.git
[submodule "docker/cumotion_ws/src/isaac_ros_cumotion_fork"]
	path = docker/cumotion_ws/src/isaac_ros_cumotion_fork
	url = https://github.com/Mike17K/isaac_ros_cumotion.git
