<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- global pi symbol-->
  <!-- <xacro:property name="pi" value="3.1415926535897931"/> -->
  <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>
  
  <!-- colors -->
  <xacro:macro name="c_d_grey">
    <material name="comau_dark_grey">
      <color rgba="0.25098 0.25098 0.25098 1" />
    </material>
  </xacro:macro>
  <xacro:macro name="c_grey">
    <material name="comau_grey">
      <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
    </material>
  </xacro:macro>
  <xacro:macro name="c_grey2">
    <material name="comau_grey_2">
      <color rgba="0.50196 0.50196 0.50196 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="c_red">
    <material name="comau_red">
      <color rgba="1 0 0 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="c_blue">
    <material name="comau_blue">
      <color rgba="0 0 1 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="c_white">
    <material name="comau_white">
      <color rgba="1 0.95 0.89 1"/>
    </material>
  </xacro:macro>


  <!-- collide bitmask -->
  <xacro:macro name="col_mask_0">
    <surface>
      <contact>
        <collide_bitmask>0x01</collide_bitmask>
      </contact>
    </surface>
  </xacro:macro>
  <xacro:macro name="col_mask_1">
    <surface>
      <contact>
        <collide_bitmask>0x10</collide_bitmask>
      </contact>
    </surface>
  </xacro:macro>

  <xacro:macro name="read_model_data" params="kinematics_params">
    <!-- Read .yaml files from disk, load content into properties -->
    <xacro:property name="config_kinematics_params" value="${xacro.load_yaml(kinematics_params)}"/>

    <!-- Extract subsections from yaml dictionaries -->
    <xacro:property name="sec_limits" value="${config_kinematics_params['joint_limits']}"/>
    <xacro:property name="sec_kinematics" value="${config_kinematics_params['kinematics']}" />
    <xacro:property name="sec_axis" value="${config_kinematics_params['axis']}" />

    <!-- JOINTS LIMIT PARAMETERS -->
    <xacro:property name="joint_1_lower_limit" value="${sec_limits['joint_1']['min_position']}" scope="parent"/>
    <xacro:property name="joint_1_upper_limit" value="${sec_limits['joint_1']['max_position']}" scope="parent"/>
    <xacro:property name="joint_1_velocity_limit" value="${sec_limits['joint_1']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint_1_effort_limit" value="${sec_limits['joint_1']['max_effort']}" scope="parent"/>
    <xacro:property name="joint_2_lower_limit" value="${sec_limits['joint_2']['min_position']}" scope="parent"/>
    <xacro:property name="joint_2_upper_limit" value="${sec_limits['joint_2']['max_position']}" scope="parent"/>
    <xacro:property name="joint_2_velocity_limit" value="${sec_limits['joint_2']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint_2_effort_limit" value="${sec_limits['joint_2']['max_effort']}" scope="parent"/>
    <xacro:property name="joint_3_lower_limit" value="${sec_limits['joint_3']['min_position']}" scope="parent"/>
    <xacro:property name="joint_3_upper_limit" value="${sec_limits['joint_3']['max_position']}" scope="parent"/>
    <xacro:property name="joint_3_velocity_limit" value="${sec_limits['joint_3']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint_3_effort_limit" value="${sec_limits['joint_3']['max_effort']}" scope="parent"/>
    <xacro:property name="joint_4_lower_limit" value="${sec_limits['joint_4']['min_position']}" scope="parent"/>
    <xacro:property name="joint_4_upper_limit" value="${sec_limits['joint_4']['max_position']}" scope="parent"/>
    <xacro:property name="joint_4_velocity_limit" value="${sec_limits['joint_4']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint_4_effort_limit" value="${sec_limits['joint_4']['max_effort']}" scope="parent"/>
    <xacro:property name="joint_5_lower_limit" value="${sec_limits['joint_5']['min_position']}" scope="parent"/>
    <xacro:property name="joint_5_upper_limit" value="${sec_limits['joint_5']['max_position']}" scope="parent"/>
    <xacro:property name="joint_5_velocity_limit" value="${sec_limits['joint_5']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint_5_effort_limit" value="${sec_limits['joint_5']['max_effort']}" scope="parent"/>
    <xacro:property name="joint_6_lower_limit" value="${sec_limits['joint_6']['min_position']}" scope="parent"/>
    <xacro:property name="joint_6_upper_limit" value="${sec_limits['joint_6']['max_position']}" scope="parent"/>
    <xacro:property name="joint_6_velocity_limit" value="${sec_limits['joint_6']['max_velocity']}" scope="parent"/>
    <xacro:property name="joint_6_effort_limit" value="${sec_limits['joint_6']['max_effort']}" scope="parent"/>

    <!-- kinematics -->
    <xacro:property name="joint_1_x" value="${sec_kinematics['joint_1']['x']}" scope="parent"/>
    <xacro:property name="joint_1_y" value="${sec_kinematics['joint_1']['y']}" scope="parent"/>
    <xacro:property name="joint_1_z" value="${sec_kinematics['joint_1']['z']}" scope="parent"/>
    <xacro:property name="joint_1_roll" value="${sec_kinematics['joint_1']['roll']}" scope="parent"/>
    <xacro:property name="joint_1_pitch" value="${sec_kinematics['joint_1']['pitch']}" scope="parent"/>
    <xacro:property name="joint_1_yaw" value="${sec_kinematics['joint_1']['yaw']}" scope="parent"/>

    <xacro:property name="joint_2_x" value="${sec_kinematics['joint_2']['x']}" scope="parent"/>
    <xacro:property name="joint_2_y" value="${sec_kinematics['joint_2']['y']}" scope="parent"/>
    <xacro:property name="joint_2_z" value="${sec_kinematics['joint_2']['z']}" scope="parent"/>
    <xacro:property name="joint_2_roll" value="${sec_kinematics['joint_2']['roll']}" scope="parent"/>
    <xacro:property name="joint_2_pitch" value="${sec_kinematics['joint_2']['pitch']}" scope="parent"/>
    <xacro:property name="joint_2_yaw" value="${sec_kinematics['joint_2']['yaw']}" scope="parent"/>

    <xacro:property name="joint_3_x" value="${sec_kinematics['joint_3']['x']}" scope="parent"/>
    <xacro:property name="joint_3_y" value="${sec_kinematics['joint_3']['y']}" scope="parent"/>
    <xacro:property name="joint_3_z" value="${sec_kinematics['joint_3']['z']}" scope="parent"/>
    <xacro:property name="joint_3_roll" value="${sec_kinematics['joint_3']['roll']}" scope="parent"/>
    <xacro:property name="joint_3_pitch" value="${sec_kinematics['joint_3']['pitch']}" scope="parent"/>
    <xacro:property name="joint_3_yaw" value="${sec_kinematics['joint_3']['yaw']}" scope="parent"/>

    <xacro:property name="joint_4_x" value="${sec_kinematics['joint_4']['x']}" scope="parent"/>
    <xacro:property name="joint_4_y" value="${sec_kinematics['joint_4']['y']}" scope="parent"/>
    <xacro:property name="joint_4_z" value="${sec_kinematics['joint_4']['z']}" scope="parent"/>
    <xacro:property name="joint_4_roll" value="${sec_kinematics['joint_4']['roll']}" scope="parent"/>
    <xacro:property name="joint_4_pitch" value="${sec_kinematics['joint_4']['pitch']}" scope="parent"/>
    <xacro:property name="joint_4_yaw" value="${sec_kinematics['joint_4']['yaw']}" scope="parent"/>

    <xacro:property name="joint_5_x" value="${sec_kinematics['joint_5']['x']}" scope="parent"/>
    <xacro:property name="joint_5_y" value="${sec_kinematics['joint_5']['y']}" scope="parent"/>
    <xacro:property name="joint_5_z" value="${sec_kinematics['joint_5']['z']}" scope="parent"/>
    <xacro:property name="joint_5_roll" value="${sec_kinematics['joint_5']['roll']}" scope="parent"/>
    <xacro:property name="joint_5_pitch" value="${sec_kinematics['joint_5']['pitch']}" scope="parent"/>
    <xacro:property name="joint_5_yaw" value="${sec_kinematics['joint_5']['yaw']}" scope="parent"/>

    <xacro:property name="joint_6_x" value="${sec_kinematics['joint_6']['x']}" scope="parent"/>
    <xacro:property name="joint_6_y" value="${sec_kinematics['joint_6']['y']}" scope="parent"/>
    <xacro:property name="joint_6_z" value="${sec_kinematics['joint_6']['z']}" scope="parent"/>
    <xacro:property name="joint_6_roll" value="${sec_kinematics['joint_6']['roll']}" scope="parent"/>
    <xacro:property name="joint_6_pitch" value="${sec_kinematics['joint_6']['pitch']}" scope="parent"/>
    <xacro:property name="joint_6_yaw" value="${sec_kinematics['joint_6']['yaw']}" scope="parent"/>

    <xacro:property name="joint_tool0_x" value="${sec_kinematics['joint_tool0']['x']}" scope="parent"/>
    <xacro:property name="joint_tool0_y" value="${sec_kinematics['joint_tool0']['y']}" scope="parent"/>
    <xacro:property name="joint_tool0_z" value="${sec_kinematics['joint_tool0']['z']}" scope="parent"/>
    <xacro:property name="joint_tool0_roll" value="${sec_kinematics['joint_tool0']['roll']}" scope="parent"/>
    <xacro:property name="joint_tool0_pitch" value="${sec_kinematics['joint_tool0']['pitch']}" scope="parent"/>
    <xacro:property name="joint_tool0_yaw" value="${sec_kinematics['joint_tool0']['yaw']}" scope="parent"/>
    <!--axis-->
    <xacro:property name="axis_1_x" value="${sec_axis['axis_1']['x']}" scope="parent"/>
    <xacro:property name="axis_1_y" value="${sec_axis['axis_1']['y']}" scope="parent"/>
    <xacro:property name="axis_1_z" value="${sec_axis['axis_1']['z']}" scope="parent"/>

    <xacro:property name="axis_2_x" value="${sec_axis['axis_2']['x']}" scope="parent"/>
    <xacro:property name="axis_2_y" value="${sec_axis['axis_2']['y']}" scope="parent"/>
    <xacro:property name="axis_2_z" value="${sec_axis['axis_2']['z']}" scope="parent"/>

    <xacro:property name="axis_3_x" value="${sec_axis['axis_3']['x']}" scope="parent"/>
    <xacro:property name="axis_3_y" value="${sec_axis['axis_3']['y']}" scope="parent"/>
    <xacro:property name="axis_3_z" value="${sec_axis['axis_3']['z']}" scope="parent"/>

    <xacro:property name="axis_4_x" value="${sec_axis['axis_4']['x']}" scope="parent"/>
    <xacro:property name="axis_4_y" value="${sec_axis['axis_4']['y']}" scope="parent"/>
    <xacro:property name="axis_4_z" value="${sec_axis['axis_4']['z']}" scope="parent"/>

    <xacro:property name="axis_5_x" value="${sec_axis['axis_5']['x']}" scope="parent"/>
    <xacro:property name="axis_5_y" value="${sec_axis['axis_5']['y']}" scope="parent"/>
    <xacro:property name="axis_5_z" value="${sec_axis['axis_5']['z']}" scope="parent"/>

    <xacro:property name="axis_6_x" value="${sec_axis['axis_6']['x']}" scope="parent"/>
    <xacro:property name="axis_6_y" value="${sec_axis['axis_6']['y']}" scope="parent"/>
    <xacro:property name="axis_6_z" value="${sec_axis['axis_6']['z']}" scope="parent"/>

  </xacro:macro>

</robot>